/* 

   <a href="#" class="btn">
         
   Swipe Next 

   <span>
      <ion-icon name="arrow-forward-outline"></ion-icon>
   </span>

   </a>

*/

/* 
   arrow icon background:  #04fe4d

*/


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}



body{
   background: #28272a;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;

}

.btn{
   position: relative;
   width: 200px;
   height: 50px;
   text-decoration: none;
   color: rgba(255,255,255,0.5);
   background: rgba(255,255,255,0.1);
   border-radius: 40px;
   letter-spacing: 2px;

   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 40px;

   transition: 0.5s;
   overflow: hidden;
   
}

.btn span{
   position: absolute;
   left: 0;
   top: 0;
   width: 50px;
   height: 100%;
   background:  #04fe4d;
   color: black;
   border-radius: 50%;

   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;

   transition: 0.5s;
}


.btn:hover{
   padding-left: 0px;
   padding-right: 40px;
}

.btn:hover span{
   left: calc(100% - 55px);
}


.btn::after{
   content: "";
   position: absolute;
   height: 100%;
   background: rgba(255, 255, 255, 0.5);
   width: 50px;
   transform: translateX(-170px) skewX(30deg);
   transition: 1s;
}

.btn:hover::after{
   transform: translateX(170px) skewX(30deg);
}


/* 
------------>

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;

}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #28272a;
}

.btn{
   position: relative;
   width: 200px;
   height: 60px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 60px;

   display: flex;
   justify-content: center;
   align-items: center;
   color: rgba(255, 255, 255, 0.5);
   text-decoration: none;
   letter-spacing: 2px;
   border-top: 0.5px solid rgba(255, 255, 255, 0.35);
   border-left: 0.5px solid rgba(255, 255, 255, 0.35);
   padding-left: 40px;
   transition: 0.5s;
   overflow: hidden;
   
}

.btn:hover{
   padding-left: 0px;
   padding-right: 40px;
   color: rgba(255, 255, 255, 1);
}

.btn span{
   position: absolute;
   left: 5px;
   width: 50px;
   height: 50px;
   background: #04fe4d;
   border-radius: 50%;
   transition: 0.5s ease-in-out;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #1a191d;
   font-size: 1.5em;
}

.btn:hover span{
   left: calc(100% - 55px);
}


.btn:after{
   content: "";
   position: absolute;
   width: 80px;
   height: 100%;
   z-index: 1;
   background: rgba(255, 255, 255, 0.5);
   transform: translateX(-170px) skewX(30deg);
   transition: 0.75s ease-in-out;
}

.btn:hover:after{
   transform: translateX(170px) skewX(30deg);
} */